Repository clssn/numato-gpio: changes, and which pre-commit hooks are due for each by the changed paths.
All: uv-lock, mypy, pytest, ruff, ruff-format, yamllint

uv-lock:
  name: update uv lock-file
  entry: uv sync
  language: system
  pass_filenames: false

mypy:
  name: type-check python files with mypy
  entry: uv run mypy
  language: system

pytest:
  name: run unit tests
  entry: bash -c '[[ -n "$SKIP_TESTS" ]] || uv run pytest tests'
  language: system

ruff:
  name: lint python files
  entry: uv run ruff check --fix
  language: system

ruff-format:
  name: Format python files
  entry: uv run ruff format
  language: system

yamllint:
  name: lint yaml files
  entry: yamllint
  language: system

Improve cleanup sequence
  src/numato_gpio/__init__.py
Due: mypy, pytest, ruff, ruff-format

sys-tests: Test all ports, not only a single one
  sys_tests/test_numato.py
Due: mypy, pytest, ruff, ruff-format

Improve documentation
  README.md
Due: none

Release version 0.14.0
  changelog.md
  pyproject.toml
  uv.lock
Due: uv-lock

Add async/await API for non-blocking GPIO operations
  API_COMPARISON.md
  ASYNC_API.md
  ASYNC_API_SUMMARY.md
  examples/async_example.py
  pyproject.toml
  src/numato_gpio/__init__.py
  src/numato_gpio/async_api.py
Due: uv-lock, mypy, pytest, ruff, ruff-format

Add comprehensive unit tests for async API with mock serial device
  pyproject.toml
  tests/conftest.py
  tests/serialmock_async.py
  tests/test_async_init.py
  tests/test_async_notify.py
Due: uv-lock, mypy, pytest, ruff, ruff-format

Fix async test infrastructure and improve serial I/O coordination [WIP]
  pyproject.toml
  src/numato_gpio/async_api.py
  tests/conftest.py
  tests/serialmock_async.py
  uv.lock
Due: uv-lock, mypy, pytest, ruff, ruff-format

Fix asyncio.Lock deadlock - remove nested lock acquisitions
  src/numato_gpio/async_api.py
Due: mypy, pytest, ruff, ruff-format

Path conditions:
  uv-lock: any of: ^(pyproject\.toml|uv\.lock)$
  mypy: any of: \.py$
  pytest: any of: \.py$
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  yamllint: any of: \.(yaml|yml)$
